
  <h1>商品一覧</h1>
<div class="main posts-index">
  <% @items.each do |item| %>
    <li>
     <div class="item-image">
           <img src="<%= "/item_images/#{item.image}" %>">
     </div>
     <div class="item-title">
           <%= item.title %>
     </div>
     <div class="item-price">
           <%= item.price %>
     </div>
    </li>
  <% end %>
</div>
