
<div class="acms-entry contactBox">
	<section class="entryColumn">
		<h2 class="contactH2">出品登録完了</h2>
		<p class="message">出品登録ありがとうございました。</p>
	</section>

 <%= link_to("商品一覧画面に戻る", "/") %>
</div>
